body {
    box-sizing: border-box;
    margin: 0;
}

.bg-light-blue {
    background-color: #527DF0;
}

.bg-light-gray {
    background-color: #EEEEEE;
}

.bg-gray {
    background-color: #CDCDCD;
}

.bg-dark-blue {
    background-color: #343F55;
}

.color-blue {
    color: #527DF0;
}

.color-gray {
    color: #CDCDCD;
}

.button-white {
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid;
    border-color: white;
    color: white;
    padding: 12px;
}

.button-blue-filled {
    background-color: #527DF0;
    border-radius: 20px;
    color: white;
    padding: 12px;
    border: none;
}

.button-blue {
    background-color: transparent;
    border-radius: 20px;
    border-color: #527DF0;
    border: 1px solid;
    color: #527DF0;
    padding: 12px;
}

nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-items {
    display: flex;
}

header {
    display: flex;
}

.box {
    height: 60vh;
    width: 50%;
}

.content-left {
    display: flex;
    align-items: center;
}

.content-left div {
    margin-left: 30px;
}

.content-right {
    display: flex;
    align-items: end;
    justify-content: end;
}

.content-right div {
    margin-right: 30px;
}

.color-white {
    color: white;
}

.img-center {
    position: absolute;
    left: 45%;
    top: 200px;
}

.container {
    padding-top: 100px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.col {
    display: flex;
    align-items: center;
    text-align: right;
}
.wrapper {
    width: 50%;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
}